<div class="user-details">
 <h1> My Expertise </h1>
   <p> I am a student pursuing his undergraduate in Computer Science in Bits Pilani Hyderabad Campus. I am passionate about Programming, Poetry, and Philosophy.</p>
</div>
 <div class="user">
   <div class="tech">
     <h2>Knowledge</h2>
     <!--       <i class="devicon-git-plain"></i>
     <i class="devicon-mongodb-plain-wordmark colored"></i>
     <i class="devicon-mysql-plain-wordmark colored"></i> -->
     <p>I have studied about these subjects during my Undergraduate Computer Science Degree:
     <ul>
       <li> Information Retrieval
       <li> Cryptography
       <li> Artificial Intelligence
       <li> Data Structures & Algorithms
       <li> Database Systems
       <li> Operating Systems
       <li> Object Oriented Programming
     </ul>
    </p>
   </div>
   <div class="tech">
     <h2>Languages</h2>
     <i class="devicon-c-plain colored"></i>
     <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark"></i>
     <!-- <i class="devicon-cplusplus-line-wordmark"></i> -->
     <p> Fluent in C, C++, Python and Java. Can build automation, mockups & prototypes in Python.
       </p>
   </div>
   <div class="tech">
     <h2>Frameworks</h2>
     <i class="devicon-django-plain colored"></i>
     <i class="devicon-linux-plain colored"></i>
       <i class="devicon-nodejs-plain-wordmark"></i>
           <p> I'm have worked with the Spring Boot environment, Django, and NodeJS.
           </p>
   </div>

   </div>

<!-- <div class="user">
 <div class="tech">
   <h2>Tools</h2>
   <i class="devicon-git-plain"></i>
   <i class="devicon-mongodb-plain-wordmark colored"></i>
   <i class="devicon-mysql-plain-wordmark colored"></i>
   <p>I am familiar with all famous CVS tools. Can work with both NoSQL DBS and RDBMS. I have used MongoDB and MySQL along with PostGreSQL.</p>
 </div> -->
