<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> Spring Boot Online Judge </h3>
    <ul>
      <li> Spring Boot</li>
      <li> ORM and Spring Data </li>
      <li> Dependency Injection with Spring </li?
    </ul>
    <p>A backend server that can act as an Online Judge. Built using Spring Boot along with using Spring Data as the Database connection.</p>
    <a class="project-link" href="https://github.com/Exorust/Spring-Online-Judge">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents-right">
    <h3> Discrete Event Simulation </h3>
    <ul>
      <li> C </li>
      <li> Scheduling Algorithms </li>
      <li> Operating Systems </li?
    </ul>
    <p>A discrete event simulator which simulates an Operating system scheduling processes in preemptive First Come First Serve (FCFS), or in Round Robin Queue (RR). </p>
    <a class="project-link" href="https://github.com/Exorust/Discrete-Event-Simulation">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> Plagarism Checker </h3>
    <ul>
      <li> Python3 </li>
      <li> NumPy </li>
      <li> Tf-Idf </li>
      <li> Vector Space Model </li?
    </ul>
    <p>The project uses the Vector Space model or tf-idf to generate a score for each document, and accordingly pass it through a checker which returns uniqueness of each document and assigns a plagiarism level, based on the number of matching sentences and words. Preference is given to sentences. </p>
    <a class="project-link" href="https://github.com/nsurampu/Plagiarism-Checker">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents-right">
    <h3> Recommender Systems </h3>
    <ul>
      <li> Python3 </li>
      <li> Collaborative Filtering </li>
      <li> Singular Value Decomposition </li>
      <li> CUR Model</li?
    </ul>
    <p>This project implements 3 primary types of recommender system techniques: Collaborative filtering, SVD and CUR matrix decompositions. Each one additionally also implements the global baseline technique. The systems are evaluated using RMSE, precision on top K, and Spearman ranking. </p>
    <a class="project-link" href="https://github.com/nsurampu/Recommender-Systems">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> Translation System </h3>
    <ul>
      <li> Python3 </li>
      <li> NLTK </li>
      <li> EM Algorithm </li>
      <li> IBM Model 1 & 2 </li?
    </ul>
    <p>This project uses python to implement three types of translation systems: IBM Model 1 using EM algorithm. IBM Model 2 Phrase based Translation. Both scratch implementation of these models and the default nltk library are used, and they are compared for the given dataset. </p>
    <a class="project-link" href="https://github.com/nsurampu/Translation-Systems">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents-right">
    <h3> AI for Mass Rapid Transport Systems  </h3>
    <ul>
      <li> Python3 </li>
      <li> Django </li>
      <li> Android Application </li>
      <li> Yen's Algorithm </li?
    </ul>
    <p>A rerouting and rescheduling AI for Subways or any Mass Rapid Transport Systems. </p>
    <a class="project-link" href="https://github.com/nsurampu/MRTS-AI">Check it out</a>
  </div>
</div>

<div class="user-projects" style="color:#000000">
    <br><a class="project-link" href="/resume.html"><strong>More About<br>Me & My Projects</strong></a>
</div>


<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
