<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> Spring Boot Online Judge </h3>
    <ul>
      <li> Spring Boot</li>
      <li> ORM and Spring Data </li>
      <li> Dependency Injection with Spring </li?
    </ul>
    <p>A backend server that can act as an Online Judge. Built using Spring Boot along with using Spring Data as the Database connection.</p>
    <a class="project-link" href="https://github.com/Exorust/Spring-Online-Judge">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents-right">
    <h3> Time Card Management System </h3>
    <ul>
      <li> JavaFX, JDBC & MySQL</li>
    </ul>
    <p>A Time Card Management System for BPOs, that manages employee data, employee entry and exit time, Auto-calculates salary based on current project and number of logged hours, Leave Applications. Extra features for Admins to allocate holiday bonuses, and accept Leave Applications.

Built using JavaFX along with JDBC which connects to a MySQL database.</p>
    <a class="project-link" href="https://github.com/Exorust/Time-Card-Management-System">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> Quiz Test Generator </h3>
    <ul>
      <li> Java, OOPS, Java Swing </li>
    </ul>
    <p>A GUI quiz generator based in Java. Each question bank can hold a maximum of 999,999 questions. Has ability to insert, delete and modify questions within the question bank.</p>
    <a class="project-link" href="https://github.com/Exorust/Quiz-Test-Generator">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents-right">
    <h3> Advent of Code 2017 </h3>
    <ul>
      <li> C++ STL, Competitve Coding</li>
    </ul>
    <p> My solutions for the Advent of Code 2017 code competition! </p>
    <a class="project-link" href="https://github.com/Exorust/Advent-of-Code-2017">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
  </div>
  <div class="contents">
    <h3> AWT File Explorer </h3>
    <ul>
      <li> Java, Java AWT</li>
    </ul>
    <p> Uses Java AWT to implement a File Explorer. </p>
    <a class="project-link" href="https://github.com/Exorust/AWT-File-Explorer">Check it out</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
